# apache
# LoadModule rewrite_module modules/mod_rewrite.so
# AllowOverride All
RewriteEngine On
RewriteRule ^(.*) index.php?/$1 [L]

#-----------------------------------
# nginx
# rewrite ^(.*) /index.php?/$1 last;
#
# caddy
# rewrite {
#     to index.php?/$1
# }
#-----------------------------------
