# # Apache
# # LoadModule rewrite_module modules/mod_rewrite.so
# # AllowOverride All
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php/$1 [L]

###-----------------------------------
### nginx
#
#    if (!-e $request_filename) {
#        rewrite  ^(.*)$  /index.php/$1  last;
#    }
#
### caddy
# rewrite {
#     to index.php/$1
# }
#
### caddy2 Caddyfile
# @try_files {
#     not path /.well-known/*
#     file {
#         try_files index.php
#     }
# }
# rewrite @try_files {http.matchers.file.relative}
#
###-----------------------------------
